@model Inventory_Entities.Inventory

@{
    ViewData["Title"] = "Inventory Details";
    // You can also add a default image or logo for the inventory if applicable
    var defaultImageSrc = Url.Content("~/No_Image_Available.jpg");
}

<div class="container mt-4">
    <h1 class="noHoverBox mb-4">@Model.InventoryName</h1>
        <div class="col-md-6">
            <h3 class="mb-3" style="font-size: 2.2rem; text-decoration: underline;">Inventory Attributes:</h3>
            <ul style="font-size: 1.5rem;">
                <li><strong>Inventory Name:</strong> @(Model.InventoryName ?? "No name available")</li>
                <br />
                <li><strong>Address:</strong> @(Model.Address ?? "No address available")</li> <!-- Updated to Address -->
                <br />
                <li><strong>Created By:</strong> @(Model.CreatedBy ?? "No creator information available")</li>
                <br />
            </ul>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
