@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Users";
}

<div class="container mt-4">
    <h1style ="text-decoration: underline;">@ViewData["Title"]</h1style>

    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr class="table-primary">
@*                 <th class="text-center" scope="col">User Id</th>
 *@                <th class="text-center" scope="col">User Name</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">No users found.</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
                    <tr>
@*                         <td class="text-center" scope="row">@user.Id</td>
 *@                        <td class="text-center">@user.UserName</td>
                        <td class="text-center">
                            <a asp-controller="Roles" asp-action="addRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-info">
                                <i class="bi bi-pencil"></i> Edit Roles
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
