@model Inventory_Entities.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="container mt-4">
    <h1>@Model.categoryName</h1>
    <h3><strong>Created By:</strong> @Model.CreatedBy</h3>

    <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
