@using Inventory_Entities
@model Product

@{
    ViewData["Title"] = "Create New Product";
}
@* . *@
<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="productName" class="form-label">Product Name</label>
            <input asp-for="productName" class="form-control" required />
        </div>
        <div class="mb-3">
            <label asp-for="productDescription" class="form-label">Product Description</label>
            <input asp-for="productDescription" class="form-control"  />
        </div>
        <div class="mb-3">
            <label asp-for="productPrice" class="form-label">Product Price</label>
            <input asp-for="productPrice" class="form-control" type="number" step="0.01" required />
        </div>

        <div class="mb-3">
            <label asp-for="categoryId" class="form-label">Category</label>
            <select asp-for="categoryId" class="form-control" asp-items="@ViewBag.categoryList" required></select>
        </div>

        <div class="mb-3">
            <label asp-for="inventoryId" class="form-label">Inventory</label>
            <select asp-for="inventoryId" class="form-control" asp-items="@ViewBag.inventoryList" required></select>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Image</label>
            <input type="file" asp-for="clientFile" class="form-control" onchange="loadFile(event)" />
            <img id="myImg" style="display:none; margin-top: 10px; max-height: 200px; max-width: 200px;" class="img-thumbnail" />
        </div>


        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var myImg = document.getElementById('myImg');
                myImg.src = reader.result;
                myImg.style.display = 'block'; // Show the image once it's loaded
            }
            reader.readAsDataURL(event.target.files[0]);
            }
    </script>
}
